@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');
// Navbar
$navbar-default-bg: rgba(249, 249, 249, 0.4) !important;

/*
** Explodan Custom Variables
*/

// Colors
$orange: #F3594A;
$text-p: #181818;
$gray-p: #888888;
$footer-bg: #333333;

// Effects
$author-image-shadow: 1px 1px 10px 0px rgba(243,88,74,1);
$post-hover: 3px 6px 63px -20px rgba(243,88,74,1);

$boxshadow: 0px 16px 45px 0px rgba(221, 221, 221, 0.8);
$normal-overlay: rgba(0, 0, 0, 0.4);
$hover-overlay: rgba(0, 0, 0, 0.6);
